<div class="myContent">
  <div class="container">
    
    <h2 align="justify" style="color:brown">Update Surgery</h2>
    <form #updateSurgeryForm="ngForm" (ngSubmit)="editSurgery(startTime, endTime)">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <div class="col" style="text-align:left">
              <label>Surgery Id</label>
            </div>
            <div class="col; input-group">
              <input type="text" name="surgeryId" class="form-control qkinput" id="surgeryID" [(ngModel)]="surgeryId" readonly>
            </div>
          </div>
          <div class="form-group">
            <div class="col" style="text-align:left">
              <label>Doctor Id</label>
            </div>
            <div class="col; input-group">
              <input type="text" name="doctorId" class="form-control qkinput" id="doctorID" [(ngModel)]="doctorId" readonly>
            </div>
          </div>

          <div class="form-group">
            <div class="col" style="text-align:left">
              <label>Surgery Date</label>
            </div>
            <div class="col; input-group">
              <input type="text" name="surgeryDate" class="form-control qkinput" id="surgeryDate" [(ngModel)]="surgeryDate" readonly>
            </div>
          </div>

          <div class="form-group">
            <div class="col" style="text-align:left">
              <label>Start Time(24 Hours Format)</label>
            </div>
            <div class="col; input-group">
              <input type="text" name="starttime" class="form-control qkinput" id="starttime"
                     required [(ngModel)]="startTime" #startTimeField="ngModel">
              <div *ngIf="startTimeField.invalid && startTimeField.touched && startTimeField.dirty">
                Start time is required
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col" style="text-align:left">
              <label>End Time(24 Hours Format)</label>
            </div>
            <div class="col; input-group">
              <input type="text" name="endtime" class="form-control qkinput" id="endtime"
                     required [(ngModel)]="endTime" #endTimeField="ngModel">
              <div *ngIf="endTimeField.invalid && endTimeField.touched && endTimeField.dirty">
                End time is required
              </div>
              <div *ngIf="startTimeField.valid && endTimeField.valid && +startTime >= +endTime">
                Start time must be less than end time
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="col" style="text-align:left">
              <label>Surgery Category</label>
            </div>
            <div class="col; input-group">
              <input type="text" name="surgeryCategory" class="form-control qkinput" id="surgeryCategory" [(ngModel)]="surgeryCategory" readonly>
            </div>
          </div>

          <div class="form-group" style="text-align:left">
            <button type="submit" [disabled]="!updateSurgeryForm['form'].valid || +startTime >= +endTime" class="btn">Update</button> &nbsp;&nbsp;
            <a routerLink="/viewTodaySurgery">Cancel</a>
          </div>
        </div>
        <div class="col-md-4">
        </div>
      </div>
    </form>
  </div>
</div>
